{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0-alpha3"}
        net.java.dev.jna/jna {:mvn/version "5.13.0"}
        com.phronemophobic/clong {:mvn/version "1.1"}}
 
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}
                 slipset/deps-deploy {:mvn/version "RELEASE"}}
          :ns-default build}

  :mvn-llama
  {:extra-deps
   {com.phronemophobic.cljonda/llama-cpp-darwin-aarch64 {:mvn/version "6e88a462d7d2d281e33f35c3c41df785ef633bc1"}
    com.phronemophobic.cljonda/llama-cpp-darwin-x86-64 {:mvn/version "6e88a462d7d2d281e33f35c3c41df785ef633bc1"}
    com.phronemophobic.cljonda/llama-cpp-linux-x86-64 {:mvn/version "6e88a462d7d2d281e33f35c3c41df785ef633bc1"}}}

  :clerk {:extra-paths ["notebooks"]
          :extra-deps
          {io.github.nextjournal/clerk {:mvn/version "0.14.919"}}}

  :generate-docs
  {:extra-deps {io.github.nextjournal/clerk {:mvn/version "0.14.919"}
                com.phronemophobic.cljonda/llama-cpp-darwin-aarch64 {:mvn/version "6e88a462d7d2d281e33f35c3c41df785ef633bc1"}
                com.phronemophobic.cljonda/llama-cpp-linux-x86-64 {:mvn/version "CUBLAS-6e88a462d7d2d281e33f35c3c41df785ef633bc1"}}
   :extra-paths ["notebooks"]
   :exec-fn nextjournal.clerk/build!
   :exec-args {:paths ["notebooks/*"]
               :index "notebooks/usage.clj"
               :out-path "docs/"
               ;;:bundle true
               }}

  :codox
  {:extra-deps {codox-theme-rdash/codox-theme-rdash {:mvn/version "0.1.2"}
                ;; nrepl/nrepl {:mvn/version "0.8.3"}
                ;; cider/cider-nrepl {:mvn/version "0.25.5"}
                com.phronemophobic.cljonda/llama-cpp-darwin-aarch64 {:mvn/version "6e88a462d7d2d281e33f35c3c41df785ef633bc1"}
                com.phronemophobic.cljonda/llama-cpp-linux-x86-64 {:mvn/version "6e88a462d7d2d281e33f35c3c41df785ef633bc1"}
                com.cnuernber/codox {:mvn/version "1.001"}}
   :exec-fn codox.main/-main
   :exec-args {:name "llama.clj"
               :description "A wrapper for llama.cpp"
               :metadata {:doc/format :markdown}
               :themes [:rdash]
               :source-paths ["src"]
               :output-path "docs/reference"
               :source-uri "https://github.com/phronmophobic/llama.clj/blob/main/{filepath}#L{line}"
               :namespaces [com.phronemophobic.llama
                            com.phronemophobic.llama.raw
                            com.phronemophobic.llama.util]}}

  :test {:extra-paths ["test"]
         :extra-deps
         {com.phronemophobic.cljonda/llama-cpp-darwin-aarch64 {:mvn/version "6e88a462d7d2d281e33f35c3c41df785ef633bc1"
                                                                     ;;:local/root "/Users/adrian/workspace/cljonda/build/llama-cpp.jar"
                                                                     }
          io.github.cognitect-labs/test-runner
          {:git/tag "v0.5.1" :git/sha "dfb30dd"}
          org.clojure/test.check {:mvn/version "1.1.1"}}

         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  :project
  {:extra-paths ["notebooks" "tests"]
   :jvm-opts ["-XX:+UnlockDiagnosticVMOptions"
              "-XX:+DebugNonSafepoints"
              "-XX:-HeapDumpOnOutOfMemoryError"]
   #_#_:jvm-opts ["-Djna.library.path=/Users/adrian/workspace/llama.cpp/build"]
   :extra-deps {org.bytedeco/llvm-platform {:mvn/version "16.0.4-1.5.9"}
                com.phronemophobic.cljonda/llama-cpp-darwin-aarch64 {:mvn/version "6e88a462d7d2d281e33f35c3c41df785ef633bc1"
                                                                     ;;:local/root "/Users/adrian/workspace/cljonda/build/llama-cpp.jar"
                                                                     }
                io.github.nextjournal/clerk {:mvn/version "0.14.919"}
                org.clojure/test.check {:mvn/version "1.1.1"}
                }}}}
