{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}
        com.phronemophobic/clong {:mvn/version "1.4"}
        com.phronemophobic.cljonda/llama-cpp-gguf-linux-x86-64 {:mvn/version "b3040"}
        com.phronemophobic.cljonda/llama-cpp-gguf-darwin-aarch64 {:mvn/version "b3040"}
        com.phronemophobic.cljonda/llama-cpp-gguf-darwin-x86-64 {:mvn/version "b3040"}
        com.phronemophobic/llama-clj { ;;:mvn/version "0.8.4"
                                      :local/root "../../"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.5"}
                 slipset/deps-deploy {:mvn/version "RELEASE"}}
          :ns-default build}}}
